.infiniteSliderContainer {
    margin: auto;
    width: 400px;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.infiniteSliderContainer .infiniteSlider {
    display: inline-block;
    padding-left: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    animation: marquee 60s linear infinite;
    font-weight: bold;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/*
.infiniteSlider:hover {
    animation-play-state: paused;
    cursor: grab;
}
*/

.personalImg {
    margin-right: 5%;
}

.presentation {
    margin-left: 5%;
}

.profilePicture {
    width: fit-content;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 5px #fff;
}

.containerIntro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.handRecInfo {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.handRecButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.textSuggestion {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.arrow {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: arrowSign 3s linear infinite;
}

@keyframes arrowSign {
    from {
        stroke-dashoffset: 48;
    }
    to {
         stroke-dashoffset: 0;
     }
}