.navbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navBarLink {
    margin-right: 50px;
}

.my-logo {
    margin-left: 50px;
    margin-top: 5px;
}

.my-logo:hover {

    .logoSign {
        stroke-dasharray: 281;
        stroke-dashoffset: 281;
        animation: logoAnimation 3s linear;
        cursor: pointer;
    }

}

@keyframes logoAnimation {
    from {
        stroke-dashoffset: 281;
    }
    to {
        stroke-dashoffset: 0;
    }
}