.navbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navBarLink {
    margin-right: 50px;
}

.logo-temp {
    margin-left: 50px;
}