:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #2A2E36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.first-color {
  color: #2a2e36;
}

.second-color {
  color: #ffa000;
}

.third-color {
  color: #000411;
}

.fourth-color {
  color: #C20114;
}

.fifth-color {
  color: #FCFCFC;
}

.first-color-background {
  background-color: #2a2e36;
}

.second-color-background {
  background-color: #ffa000;
}

.third-color-background {
  background-color: #000411;
}

.fourth-color-background {
  background-color: #C20114;
}

.fifth-color-background {
  background-color: #FCFCFC;
}

a {
  font-weight: 500;
  color: #FCFCFC;
  text-decoration: inherit;
}
a:hover {
  color: #ffa000;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 200;
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffa000;
  cursor: pointer;
  transition: .2s ease-in-out 0s;
}
button:hover {
  transform: scale(1.10);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}